In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\Gupta Ji\\Untitled Folder 2'

In [5]:
os.chdir('C:\\Users\\Gupta Ji\\Desktop\\25_Projects\ML\\Fraud Detection Using ML')

In [7]:
df= pd.read_csv("payment_fraud.csv")

In [8]:
df.head()

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
0,29,1,4.745402,paypal,28.204861,0
1,725,1,4.742303,storecredit,0.000000,0
2,845,1,4.921318,creditcard,0.000000,0
3,503,1,4.886641,creditcard,0.000000,0
4,2000,1,5.040929,creditcard,0.000000,0

In [10]:
df.tail()

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
39216,986,1,4.836982,creditcard,0.000000,0
39217,1647,1,4.876771,creditcard,377.930556,0
39218,1591,1,4.742303,creditcard,0.000000,0
39219,237,1,4.921318,creditcard,236.082639,0
39220,272,1,5.040929,paypal,0.000694,0

In [12]:
df.shape

(39221, 6)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39221 entries, 0 to 39220
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   accountAgeDays        39221 non-null  int64
 1   numItems              39221 non-null  int64
 2   localTime             39221 non-null  float64
 3   paymentMethod         39221 non-null  object
 4   paymentMethodAgeDays  39221 non-null  float64
 5   label                 39221 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 1.8+ MB

In [15]:
df.describe()

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,label
count,39221.000000,39221.000000,39221.000000,39221.000000,39221.000000
mean,857.563984,1.084751,4.748232,122.641326,0.014278
std,804.788212,0.566899,0.389360,283.569177,0.118636
min,1.000000,1.000000,0.421214,0.000000,0.000000
25%,72.000000,1.000000,4.742303,0.000000,0.000000
50%,603.000000,1.000000,4.886641,0.012500,0.000000
75%,1804.000000,1.000000,4.962055,87.510417,0.000000
max,2000.000000,29.000000,5.040929,1999.580556,1.000000

In [17]:
df.isnull().sum()

accountAgeDays          0
numItems                0
localTime               0
paymentMethod           0
paymentMethodAgeDays    0
label                   0
dtype: int64

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
Sc=StandardScaler()
df['accountAgeDays']=Sc.fit_transform(pd.DataFrame(df['accountAgeDays']))

In [20]:
df.head()

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
0,-1.029556,1,4.745402,paypal,28.204861,0
1,-0.164721,1,4.742303,storecredit,0.000000,0
2,-0.015612,1,4.921318,creditcard,0.000000,0
3,-0.440574,1,4.886641,creditcard,0.000000,0
4,1.419567,1,5.040929,creditcard,0.000000,0

In [27]:
df.duplicated().any()

False

In [26]:
df.shape

(33495, 6)

In [29]:
df=df.drop_duplicates()

In [30]:
df.shape

(33495, 6)

In [41]:
#Sepreating X and y
X = df.loc[:,['accountAgeDays','numItems','localTime','paymentMethodAgeDays']].values
y = df.loc[:,['label']].values

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [43]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [48]:
#predictions
y_pred=log.predict(X_test)

In [49]:
#cheking the r2score
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.007354575494297744